body {
  font-family: "Roboto";
  background-color: lightgrey;
}

.subtitle {
  color: #949596;
}

.middle {
  width: 35%;
}

.main-container {
  height: 600px;
}

.main-row {
  padding-top: 7.5%;
}

.loader {
  width: 350px;
  height: 350px;
  border: 6px solid pink;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
}
