.currentTemp {
  background-color: #e8ebef;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

.currentTemp h1 {
  padding-left: 25%;
  padding-top: 25%;
  margin: 0;
}
